<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ed McDonagh">
    <meta name="copyright" content="2013-2017 The Royal Marsden NHS Foundation Trust">
    <meta name="licence" content="GPLv3">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    <title>OpenREM Browser</title>

    <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/openrem.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/openrem-extra.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.min.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->

    {% block headextras %}
    {% endblock %}

  </head>





  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/openrem/">OpenREM</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar %}
                {% if request.user.userprofile.displayCT %}
                    {% block navct %}<li>{% endblock %}<a href="/openrem/ct/">CT</a></li>
                {% endif %}
                {% if request.user.userprofile.displayRF %}
                    {% block navrf %}<li>{% endblock %}<a href="/openrem/rf/">Fluoroscopy</a></li>
                {% endif %}
                {% if request.user.userprofile.displayMG %}
                    {% block navmg %}<li>{% endblock %}<a href="/openrem/mg/">Mammography</a></li>
                {% endif %}
                {% if request.user.userprofile.displayDX %}
                    {% block navdx %}<li>{% endblock %}<a href="/openrem/dx/">Radiography</a></li>
                {% endif %}
            {% endblock %}
          </ul>
          {% block loginlink %}
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                {% if admin.importsizegroup or admin.importqrgroup or admin.admingroup %}
                    {% block importnav %}
                    <li class="dropdown">
                    {% endblock %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"aria-haspopup="true" aria-expanded="false">
                            Imports <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if admin.importsizegroup %}
                            <li><a href="/openrem/admin/sizeupload">Import patient size info</a></li>
                            {% endif %}
                            {% if admin.importsizegroup or admin.admingroup %}
                            <li><a href="/openrem/admin/sizeimports">Previous patient size imports</a></li>
                            {% endif %}
                            {% if admin.importqrgroup %}
                            <li><a href="/openrem/admin/queryremote">Query remote server</a> </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if admin.exportgroup %}
                    {% block exportnav %}
                        <li>
                    {% endblock %}
                        <a href="/openrem/export/">Exports</a></li>
                {% endif %}

                {% block confnav %}
                <li class="dropdown">
                {% endblock %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Config <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header">User level config</li>
                      <li><a href="/openrem/chartoptions/">Chart options</a></li>
                      <li><a href="/openrem/charts_off/">Switch charts off</a></li>
                      {% if not admin.admingroup %}
                        <li><a href="/openrem/viewdisplaynames/">View display names & modality</a></li>
                        <li><a href="/admin/notpatientindicators/">View not-patient indicators</a> </li>
                      {% endif %}
                      {% if admin.admingroup %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">System level settings</li>
                        <li><a href="/admin/auth/user/">Users</a></li>
                        <li><a href="/openrem/viewdisplaynames/">Display names & modality</a></li>
                        <li><a href="/openrem/admin/dicomdelsettings/1/">DICOM object deletion</a> </li>
                        <li><a href="/openrem/admin/dicomsummary">DICOM networking</a></li>
                        <li><a href="/admin/patientidsettings/1/">Patient ID</a> </li>
                        <li><a href="/admin/notpatientindicators/">Not-patient indicators</a> </li>
                        <li><a href="/admin/skindosemapsettings/1/">Skin dose map</a> </li>
                      {% endif %}
                    </ul>
                </li>
            {% endif %}


            <p class="navbar-text">
              <span class="glyphicon glyphicon-user"></span>
              {% if user.is_authenticated %}
               {{ user.get_full_name }} -
               <a href="/logout/" class="navbar-link">logout</a>
              {% else %}
               Not signed in - 
              <a href="/login/?next={{ request.get_full_path|urlencode }}" class="navbar-link">login</a>
              {% endif %}
            </p>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Docs <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/" target="_blank" data-toggle="tooltip" title="OpenREM documentation - opens in a new tab">
                OpenREM Documentation ({{ admin.docsversion }})
            </a>
        </li>
              {% block navhelp %}
              {% endblock %}
    </ul>
</li>
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="openrem-toprow">
        {% block toprow %}
        {% endblock %}
      </div>
      {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.level == 40 %}danger{% elif message.level == 30 %}warning{% elif message.level == 25 %}success{% elif message.level == 20 %}info{% endif %} alert-dismissible fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if message.level == 40 %}<strong>Warning!</strong>{% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% endblock %}

      {% block mainblock %}
      {% endblock %}

      <hr>
      <footer>
{% if admin.openremversion %}
        <p>OpenREM version {{ admin.openremversion }} is &copy; 2013-2018 The Royal Marsden NHS Foundation Trust</p>
{% else %}
        <p>OpenREM is &copy; 2013-2018 The Royal Marsden NHS Foundation Trust</p>
{% endif %}
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    {% block jsblock %}
    {% endblock %}

  </body>
</html>
