{% extends "remapp/base.html" %}

{% block headextras %}
  <!-- Bootstrap-datepicker CSS -->
  <!-- Bootstrap-datepicker JavaScript
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css">

  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>



  <!-- Internet Explorer (up to version 8) doesn't support array indexOf. The script
  below adds the functionality if it is missing. -->
  <script>
    if (!Array.prototype.indexOf) {
      Array.prototype.indexOf = function (obj, start) {
        for (var i = (start || 0), j = this.length; i < j; i++) {
          if (this[i] === obj) {
            return i;
          }
        }
        return -1;
      }
    }
  </script>

  {% block headscript %}
  {% endblock %}
{% endblock %}


{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/netdicom.html" target="_blank" data-toggle="tooltip" title="DICOM store & query-retrieve documentation - opens in a new tab">
                DICOM store and query-retrieve documentation
            </a>
        </li>
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/install-prep.html#resources-for-creating-rdsr-for-older-toshiba-ct-scanners" target="_blank" data-toggle="tooltip" title="Generating RDSR from older Toshiba CT - opens in a new tab">
                Generating RDSR from older Toshiba scanners
            </a>
        </li>
{% endblock %}

{% block importnav %}
  <li class="dropdown active">{% endblock %}

{% block mainblock %}

  <script src="{{ STATIC_URL }}js/dicom.js"></script>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">

      <h3>Current DICOM SCP statuses</h3>
      Remote QR nodes
      <dl class="dl-horizontal">
        {% autoescape off %}
          {% for name, status in qrstatus.items %}
            <dt>{{ name }}</dt>
            <dd>{{ status }}</dd>
          {% endfor %}
        {% endautoescape %}
      </dl>
      Local Store nodes
      <dl class="dl-horizontal">
        {% autoescape off %}
          {% for name, status in storestatus.items %}
            <dt>{{ name }}</dt>
            <dd>{{ status }}</dd>
          {% endfor %}
        {% endautoescape %}
      </dl>

      <h3>Query retrieve dialogue</h3>

      {% load crispy_forms_tags %}
      {% crispy form %}
    </div>


    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div id="qr-status"></div>
        <div id="move-button"></div>
      </div>
      <div class="row">
        <div id="move-status"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-4 col-md-offset-4">
      <a class="btn btn-default btn-block" href="/openrem/admin/dicomsummary" role="button">Start, stop and modify DICOM
        nodes</a>
    </div>
  </div>
  <script src="{{ STATIC_URL }}js/datepicker.js"></script>

{% endblock %}
