{% extends "remapp/base.html" %}

{% block headextras %}
  <script src="{{ STATIC_URL }}js/sorttable.js"></script>
{% endblock %}

{% block confnav %}
  <li class="dropdown active">{% endblock %}

{% block navhelp %}
  <li>
    <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_displaynames.html" target="_blank"
       data-toggle="tooltip" title="Display name documentation - opens in a new tab">
      Display name documentation
    </a>
  </li>
  <li>
    <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_deletestudies.html" target="_blank"
       data-toggle="tooltip" title="Study deletion documentation - opens in a new tab">
      Study deletion documentation
    </a>
  </li>
{% endblock %}

{% block toprow %}
  {% load pagination_tags %}
  <a name="#top"></a>
  <p>{% if admin.admingroup %}Check one or more boxes and click an Update button to be taken to a page where you can
    update all of the selected systems to the same display name and / or set a user defined modality type.</p>
    <p>The boxes can be checked or unchecked by clicking anywhere on the row. Tables can be sorted by clicking on
    column headers.{% endif %}</p>
  <p>
    Jump to <a href="#ct">CT</a> | <a href="#mammo">Mammography</a> | <a href="#dx">DX and CR</a> |
    <a href="#fluoro">Fluoroscopy</a> | <a href="#others">Others</a>
  </p>
{% endblock %}


{% block mainblock %}

  {% paginate %}

  {% if admin.admingroup %}
    <form action="/openrem/updatedisplaynames/" method="get">
  {% endif %}

{% for modality in modalities %}
  <script>
      $(document).ready(
          function get_display_name_list(json) {
              $.ajax(
                  {
                      url: "/populatedisplaynames",
                      data: {
                          modality: '{{ modality }}',
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                      },
                      type: "POST",
                      success: function (data) {
                          $('#{{ modality }}-names').html(data);
                          var display_name_table_{{ modality }} = document.getElementById("display_name_table_{{ modality }}");
                          sorttable.makeSortable(display_name_table_{{ modality }});

                          {% if admin.admingroup %}
                          $("#display_name_table_{{ modality }} .clickable-row").click(function () {
                              var row_name = $(this).attr('row_name');
                              $('input[name=' + row_name + ']').prop("checked", !$('input[name=' + row_name + ']').prop("checked"));
                          });
                          {% endif %}
                      }
                  }
              )
          }
      )
  </script>
{% endfor %}

<a name="ct" class="vert-offset">
  <h3>CT</h3>
</a>
<span id="CT-names"></span>
{% if admin.admingroup %}
  <input class="btn btn-default" type="submit" value="Update">
{% endif %}

<a name="mammo" class="vert-offset">
  <h3>Mammography</h3>
</a>
<span id="MG-names"></span>
{% if admin.admingroup %}
  <input class="btn btn-default" type="submit" value="Update">
{% endif %}

<a name="dx" class="vert-offset">
  <h3>DX and CR</h3>
</a>
<span id="DX-names"></span>
{% if admin.admingroup %}
  <input class="btn btn-default" type="submit" value="Update">
{% endif %}

<a name="fluoro" class="vert-offset">
  <h3>Fluoroscopy</h3>
</a>
<span id="RF-names"></span>
{% if admin.admingroup %}
  <input class="btn btn-default" type="submit" value="Update">
{% endif %}

<a name="others" class="vert-offset">
  <h3>Others</h3>
</a>
<span id="OT-names"></span>
{% if admin.admingroup %}
  <input class="btn btn-default" type="submit" value="Update">
{% endif %}


{#      <td><a href="/admin/ot/{{ eachrow.pk }}/">Review</a></td>#}

{% if admin.admingroup %}
  </form>
{% endif %}

{% endblock %}