{% load humanize %}
{% if current %}
  <h4>Export tasks in progress</h4>
  <table class="table table-striped">
    <th>Task ID</th>
    <th>Exported</th>
    <th>Modality</th>
    <th>Export type</th>
    <th>No. records</th>
    <th>Progress</th>
    <th></th>
    {% for tsk in current %}
      <tr>
        <td>{{ tsk.task_id }}</td>
        <td>{{ tsk.export_date|naturaltime }}</td>
        <td>{{ tsk.modality }}</td>
        <td>{{ tsk.export_type }}</td>
        <td>{{ tsk.num_records }}</td>
        <td>{{ tsk.progress }}</td>
        <td><a href="/openrem/export/abort/{{ tsk.pk }}" class="btn btn-danger">Abort</a></td>
      </tr>
    {% endfor %}
  </table>
{% endif %}