{% extends "remapp/base.html" %}

{% block navbar %}
            {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
            {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
            {% if request.user.userprofile.displayMG %}<li class="active"><a href="/openrem/mg">Mammography</a></li>{% endif %}
            {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}


{% block mainblock %}
<h1>Detail list of events</h1>
        {% with equipment=generalstudymoduleattr.generalequipmentmoduleattr_set.get %}

<ul>
    <li>
        Accession number:
        {% if not generalstudymoduleattr.accession_hashed %}
            {{ generalstudymoduleattr.accession_number }}
        {% else %}
            <i>hidden</i>
        {% endif %}
    </li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time|date:"H:i" }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Procedure: {{ generalstudymoduleattr.procedure_code_meaning }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_age_decimal|floatformat:1 }} years</li>
    <li>Hospital: {{ equipment.institution_name }}</li>
    <li>
        Scanner:
        {{ equipment.manufacturer }} |
        {{ equipment.manufacturer_model_name }} |
        {{ equipment.station_name }}
    </li>
    <li>Display name: {{ equipment.unique_equipment_name.display_name }}</li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Operator(s): {{ generalstudymoduleattr.operator_name }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
</ul>
<div class="row">
  <div class="col-md-3">
    <table class="table table-condensed table-bordered small">
      <tr>
        <th>Total number of events</th>
        <td>{{ events_all|length }}</td>
      </tr>
      {% for breast in accum_mammo_set %}
        {% if breast.laterality.code_meaning == "Left breast" %}
          <tr>
            <th>Accumulated AGD: Left</th>
            <td>{{ breast.accumulated_average_glandular_dose|floatformat:3 }} mGy</td>
          </tr>
        {% elif breast.laterality.code_meaning == "Right breast" %}
          <tr>
            <th>Accumulated AGD: Right</th>
            <td>{{ breast.accumulated_average_glandular_dose|floatformat:3 }} mGy</td>
          </tr>
        {% elif breast.laterality.code_meaning == "Both breasts" %}
          <tr>
            <th>Accumulated AGD: Both breasts</th>
            <td>{{ breast.accumulated_average_glandular_dose|floatformat:3 }} mGy</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>


<table class="table table-striped table-bordered small">
    <th>Time</th>
    <th>Acquisition protocol</th>
    <th>View</th>
    <th>Compression thickness (mm)</th>
    <th>Target</th>
    <th>Filter</th>
    <th>kVp</th>
    <th>mA</th>
    <th>Exposure time (ms)</th>
    <th>ESD (mGy)</th>
    <th>AGD (mGy)</th>
    {% for event in events_all %}
      {% with source_data=event.irradeventxraysourcedata_set.select_related.get %}
    <tr>
        <td>{{ event.date_time_started|time:"H:i.s" }}</td>
        <td>{{ event.acquisition_protocol }}</td>
        <td>{{ event.laterality.code_meaning }} breast, {{ event.image_view }}</td>
        <td>{{ event.irradeventxraymechanicaldata_set.get.compression_thickness|floatformat:0  }}</td>
        <td>{{ source_data.anode_target_material }}</td>
        <td>{{ source_data.xrayfilters_set.get.xray_filter_material }}</td>
        <td>{{ source_data.kvp_set.get.kvp|floatformat:0 }}</td>
        <td>{{ source_data.average_xray_tube_current|floatformat:1 }}</td>
        <td>{{ source_data.exposure_time|floatformat:0 }}</td>
        <td>{{ event.entrance_exposure_at_rp|floatformat:3 }}</td>
        <td>{{ source_data.average_glandular_dose|floatformat:3 }}</td>
    </tr>
    <tr>
        <td colspan = "11"><small> <strong>Exposure Control Mode Description:</strong>{{ event.comment }} </small></td>
    </tr>
      {%  endwith %}
    {% endfor %}
</table>

{% endwith %}

{% endblock %}
