{% extends "remapp/base.html" %}

{% block confnav %}<li class="dropdown active">{% endblock %}

{% block navhelp %}
        <li>
{#            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/i_not_patient_indicator.html" target="_blank" data-toggle="tooltip" title="Not-patient indicators documentation - opens in a new tab">#}
            <a href="http://docs.openrem.org/en/issue510notpatientindb/i_not_patient_indicator.html" target="_blank" data-toggle="tooltip" title="Not-patient indicators documentation - opens in a new tab">
                Not-patient indicator documentation
            </a>
        </li>
{% endblock %}

{% block mainblock %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Not-patient indicators</h1>
    <p>Find QA and test studies in your anonymised data by matching against strings with wildcards when the study is
    imported into OpenREM</p>
{% if not admin.admingroup %}
    <p>
      Log in as an administrator to be able to modify the patterns.
    </p>
{% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
{% if admin.admingroup %}
        <a class="btn btn-default pull-right btn-sm" href="/admin/notpatientindicators/id/add/" role="button">
          Add ID patterns
        </a>
{% endif %}
        <h3 class="panel-title">ID matching patterns</h3>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        {% if ids.count < 1 %}
          <p>Nothing set yet, see below for examples, or to set the patterns to match the 0.7.4 release</p>
        {% endif %}
        <table class="table table-bordered">
        {% for id in ids %}
          <tr>
            <td>              <code>{{ id.not_patient_id }}</code>
{% if admin.admingroup %}
              <a href="/openrem/admin/notpatientindicators/id/{{ id.id }}/delete/" role="button" class="pull-right"> Delete</a>
              <a href="/openrem/admin/notpatientindicators/id/{{ id.id }}/" role="button" class="pull-right">Modify&nbsp;</a>
{% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
{% if admin.admingroup %}
        <a class="btn btn-default pull-right btn-sm" href="/admin/notpatientindicators/names/add/" role="button">
          Add name patterns
        </a>
{% endif %}
        <h3 class="panel-title">Name matching patterns</h3>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        {% if names.count < 1 %}
          <p>Nothing set yet, see below for examples, or to set the patterns to match the 0.7.4 release</p>
        {% endif %}
        <table class="table table-bordered">
        {% for name in names %}
          <tr>
            <td>
              <code>{{ name.not_patient_name }}</code>
{% if admin.admingroup %}
              <a href="/openrem/admin/notpatientindicators/names/{{ name.id }}/delete/" role="button" class="pull-right"> Delete</a>
              <a href="/openrem/admin/notpatientindicators/names/{{ name.id }}/" role="button" class="pull-right">Modify&nbsp;</a>
{% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      On import, the patient name and patient ID are compared to the matching patterns in this list. The name and ID are
      compared in lower-case and make use of wildcards. If any of the patterns match the patient name or ID, then the
      following things happen:
    </p>
    <ul>
      <li>that pattern is placed in the <strong>not_patient_indicator</strong> database field</li>
      <li>the study is excluded from the filtered study list if <strong>Include possible test data</strong> is set to
        <strong>No</strong></li>
      <li>the pattern is printed on the <strong>Test patient indicators?</strong> line of the study detail page</li>
      <li>the pattern is included in the study export XLSX or CSV files in the <strong>Test patient?</strong> column</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h4>For example:</h4>
    <table class="table table-bordered">
      <tr>
        <th>ID matching pattern</th>
        <td><code>*ph*</code></td>
      </tr>
      <tr>
        <th>Name matching pattern</th>
        <td><code>*QA*</code></td>
      </tr>
      <tr>
        <th>Study patient ID</th>
        <td>PPH23148236</td>
      </tr>
      <tr>
        <th>Study patient name</th>
        <td>Srour^Saraqa</td>
      </tr>
      <tr>
        <th>Resultant not-patient indicator recorded:</th>
        <td>IDs: *ph* | Names: *qa*</td>
      </tr>
    </table>
  </div>
  <div class="col-md-5">
    <h4>How to use the wildcards:</h4>
    <table class="table table-bordered">
    <tr><th>Pattern</th><th>Meaning</th></tr>
      <tr><td><code>*</code></td><td>matches everything</td></tr>
      <tr><td><code>?</code></td><td>matches any single character</td></tr>
      <tr><td><code>[seq]</code></td><td>matches any character in seq</td></tr>
      <tr><td><code>[!seq]</code></td><td>matches any character not in seq</td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-warning">
      <div class="panel-heading"><h3 class="panel-title">Warning!</h3></div>
      <div class="panel-body">
        <ul>
          <li>The pattern you use to indicate test studies <strong>might match real patient names/IDs</strong></li>
          <li>
            Any strings in the list below will be displayed in the interface and exports, so don't include real names in
            this list!
          </li>
          <li>
            Names and IDs are matched on import - <strong>changes made here will not affect any of the studies already
            in the database</strong>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Replicating behaviour of release 0.7.4 and earlier</h3>
  </div>
  <div class="panel-body">
{% if not admin.admingroup %}
    <p><i>This is only applicable to users in the 'admingroup'</i></p>
{% endif %}
{% if admin.admingroup %}
    <p>
      OpenREM releases before 0.8 had the not-patient identification patterns hard-coded. From release 0.8.0 the
      patterns are (admin) user configurable, but will start with no patterns in place. To add the patterns that would
      maintain the behaviour of previous releases, <a href="/admin/notpatientindicators/restore074/">click here</a>.
    </p>
{% endif %}
  </div>
  </div>
  </div>
</div>


{% endblock %}