{% extends "remapp/base.html" %}

{% block headextras %}
    {% if admin.enable_skin_dose_maps %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.qtip.min.css">
        <script src="{{ STATIC_URL }}js/skin-dose-maps/jquery.qtip.min.js"></script>
        <script src="{{ STATIC_URL }}js/skin-dose-maps/three.min.js"></script>
    {% endif %}
{% endblock %}

{% block navhelp %}
        <li>
            <a href="http://docs.openrem.org/en/{{ admin.docsversion }}/skindosemap.html" target="_blank" data-toggle="tooltip" title="Skin dose map documentation - opens in a new tab">
                Skin dose map documentation
            </a>
        </li>
{% endblock %}
